body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #d32f2f; /* Rojo oscuro */
    text-align: center;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 10px 0;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #d32f2f; /* Rojo oscuro */
    margin: 0;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #d32f2f; /* Rojo oscuro */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
