/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Estilo para el encabezado h1 */
h1 {
    text-align: center;
    color: #333;
}

/* Estilo para el formulario y etiquetas en una tabla */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

table {
    width: 100%;
}

td {
    padding: 10px;
}

label {
    display: block;
    font-weight: bold;
}

/* Estilo para los campos de entrada y el menú desplegable */
input[type="text"],
input[type="tel"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para el botón de envío */
input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}