/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    margin: 20px 0;
}

.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.option {
    text-align: center;
}

.option img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

option p {
    margin: 10px 0;
}
